/* Používáme intuitivní výpočet rozměrů prvků. */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.container {
  max-width: 20rem;
  margin-right: auto;
  margin-left: auto;
}

.paticka {
  background-color: #bdb9bc;
  color: rgb(7, 7, 7);
  text-align: center;
  padding: 20px 0;
}
